name: Measure canonical app size

on: ['pull_request']

env:
  GO_VERSION: '~1.20.14'

jobs:
  measure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: gopherjs/output-size-action/measure@main
        with:
          name: jQuery TodoMVC
          repo: https://github.com/gopherjs/todomvc
          go-package: github.com/gopherjs/todomvc
          report_json: /tmp/report.json
          report_md: /tmp/report.md
      - uses: actions/upload-artifact@v4
        with:
          name: size_report
          path: |
            /tmp/report.json
            /tmp/report.md
